// Import a base PrimeNG theme
@import "primeng/resources/themes/aura/theme.scss"; 

// Define your custom color variables
:root {
    --primary-color-text: black;
    --blue-perfil: #007091;
    --blue-perfil-hover:#025973;
    --bg-color-perfil:#eceded;
    --green-perfil: #009933;
}
body{
    background-color: var(--bg-color-perfil);
}

// Override PrimeNG Theme Variables
.p-button {
    background: var(--bg-color-perfil) !important;
    // border-color: var(--primary-color) !important;
    color: white !important;
}

.p-button:hover {
    background: var(--blue-perfil-hover) !important;
    // border-color: var(--primary-hover-color) !important;
}

/* Override Input Fields */
// .p-inputtext {
//     border-color: var(--primary-color) !important;
// }

// .p-menu {
//     background: var(--primary-color) !important;
// }

/* Override other components as needed */