<div class="min-h-screen w-full flex flex-col justify-between items-center">
    <!-- Logo at the center -->
    <div class="flex justify-center items-center flex-grow">
        <img src="Logo.png" alt="perfilLogo">
    </div>

    <!-- Button at the bottom -->
    <div class="flex justify-center pb-10">
        <p-button label="Ingresar con Google" class="flex items-center gap-2" (onClick)="login()">
            <img src="google-icon.svg" alt="google" class="w-5 h-5"><img/>
        </p-button>
    </div>
    
</div>
