@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrolling */
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color-perfil);
    background-repeat: no-repeat; /* Prevent repeating */
    background-position: center; /* Center the image */
    background-size: auto; /* Ensures the full image is visible */
}

:root {
    --blue-perfil: #007091;
    --bg-color-perfil:#eceded;
    --green-perfil: #009933;
}
.layout{
    width: 100vw;
    height: 100vh;
    // background-color: var(--bg-color-perfil);
    box-sizing: border-box;
    // overflow: hidden;
}

// .button-primary {
//     @apply text-white focus:ring-4 font-medium 
//            rounded-lg text-sm px-5 py-2.5 
//            focus:outline-none;
//     background-color: var(--blue-perfil);
// }

// .button-primary:hover{
//     background-color: #025a74;
// }